<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>御钥师</string>
	<key>CFBundleName</key>
	<string>御钥师</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
		<string>en</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>用于解锁工作空间并确认查看验证码或账户密码。</string>
</dict>
</plist>
